.field.name
  = form.label :name
  = form.text_field :name
.field.timezone
  = form.label :timezone
  = form.time_zone_select :timezone, /Australia/

%table.field.available_at
  %thead
    %tr
      %th
      - @schedule.each_day do |day|
        %th.heading= day.name[0,2]
  %tbody
    - @schedule.each_time_of_day do |relative_offset, time|
      %tr{:class => cycle('odd', 'even')}
        %th= time.strftime('%I:%M %p')
        - @schedule.each_day do |day|
          - offset = day.offset(relative_offset)
          %td.check_box= check_box_tag format(available_at_field, offset), {}, person.available_at?(offset)

- content_for :javascript do
  :javascript
    // check box drawing
    var down = false;
    var value = false;
    $('input[type=checkbox]').mousedown(function(event){
      down = true;
      value = !$(this).attr('checked');
      $(this).attr('checked', value);
      return false;
    }).mouseover(function(event){
      if (down) { $(this).attr('checked', value); }
      return false;
    }).change(function(){
      return false;
    }).click(function(){
      return false;
    });

    $(document).mouseup(function(){
      down = false;
    });
