.field.name
  = form.label :name, 'Your name'
  = form.text_field :name
.field.timezone
  = form.label :timezone, 'Your timezone'
  = form.time_zone_select :timezone, /Australia/

%table.person
  %thead
    %tr
      %th
      - @schedule.each_day do |day|
        %th.heading= day.name[0,2]
  %tbody
    - @schedule.each_time_of_day do |relative_offset, time|
      %tr{:class => cycle('odd', 'even')}
        %th= time.strftime("%H%M")
        - @schedule.each_day do |day|
          - offset = day.offset(relative_offset)
          %td.check_box= check_box_tag format(available_at_field, offset), {}, person.available_at?(offset)

:javascript
  var down = false;
  var value = false;
  $('input[type=checkbox]').mousedown(function(event){
    //console.log('down');
    down = true;
    value = !$(this).attr('checked');
    $(this).attr('checked', value);
    return false;
  }).mouseover(function(event){
    //console.log('over');
    if (down) { $(this).attr('checked', value); }
    return false;
  }).change(function(){
    return false;
  }).click(function(){
    return false;
  });

  $(document).mouseup(function(){
    //console.log('up');
    down = false;
  });
