-#
  = form_for [@group, @schedule] do |schedule|
    .field.name
      = schedule.label :name
      = schedule.text_field :name
    .field.timezone
      = schedule.label :timezone
      = schedule.text_field :timezone
    .field.data
      = schedule.label :data
      = schedule.text_field :data
    = schedule.submit

//%hr

= form_for [@group, @schedule] do |schedule|
  .field.name
    = schedule.label :name
    = schedule.text_field :name
  .field.timezone
    = schedule.label :timezone
    = schedule.time_zone_select :timezone, /Australia/

  %table.schedule
    %thead
      %tr
        %th
        - Day::TIME_OFFSETS.each do |offset|
          - hours, mins = (offset * Day::TIME_INTERVAL).divmod(60)
          %th.heading= Time.new(2000, 1, 1, hours, mins).strftime("%H%M")
    %tbody
      - Day::ALL.each do |day|
        %tr
          %th= day.name[0,2]
          - day.offsets.each do |offset|
            %td= check_box_tag "available_at[#{offset}]"

  = schedule.submit

:javascript
  var down = false;
  var value = false;
  $('input[type=checkbox]').mousedown(function(event){
    //console.log('down');
    down = true;
    value = !$(this).attr('checked');
    $(this).attr('checked', value);
    return false;
  }).mouseover(function(event){
    //console.log('over');
    if (down) { $(this).attr('checked', value); }
    return false;
  }).change(function(){
    return false;
  }).click(function(){
    return false;
  });

  $(document).mouseup(function(){
    //console.log('up');
    down = false;
  });
