.schedule
  .row
    .col-md-4
      .instructions
        %h4 Instructions
        %ol
          %li
            %p Share a link to this page with people, to let them add their available times.
          %li
            %p Come back and see what times you are all online.
          %li
            %p Profit!

      .people
        %h4 People
        %table.table
          %thead
            %th Name
            %th Timezone
            %th Options
          %tbody
            - @schedule.people.each do |person|
              %tr{class: cycle('odd', 'even')}
                %td.name= person.name
                %td.timezone= person.timezone
                %td.options
                  = link_to 'Edit', edit_schedule_person_path(@schedule, person)
                  = link_to 'Remove', schedule_person_path(@schedule, person), confirm: 'Are you sure?', method: 'delete'
        %p.text-right
          = link_to 'Add a new person', new_schedule_person_path(@schedule)

    .col-md-8
      %h4 Schedule

      .timezone
        = form_for @user, url: user_path, method: :patch do |f|
          = hidden_field_tag :schedule_uuid, @schedule.uuid
          .input-group
            =# f.label :timezone, 'Time Zone:', class: 'hidden-xs'
            = f.time_zone_select :timezone, /Australia/, {}, class: 'custom-select'
            .input-group-append
              = f.submit 'Update', class: 'btn btn-xs btn-secondary'

      .timetable
        %table.table
          %thead
            %tr
              %th
              - Schedule::DAY_NAMES.each do |name|
                %th.heading= name[0,3]
          %tbody
            - Schedule::TIMES_OF_DAY.each_with_index do |time, time_of_day_index|
              %tr{class: cycle('odd', 'even')}
                %th= time.strftime("%I:%M %p")
                - @schedule.day_indexes(time_of_day_index).each do |index|
                  - people = @people_at_indexes[index]
                  - if people.empty? or people.size == 1
                    - style = nil
                  - else
                    - percent = people.size*100/@schedule.people.size
                    - style ="background-color: hsl(0, 80%, #{100 - percent/4}%)"
                  %td.entry{:style => style}
                    - people.each do |person|
                      = person.name
                      %br
