= div_for @schedule do
  = form_for :user, @user, :url => update_user_path do |f|
    = hidden_field_tag :return_to, schedule_url(@schedule)
    = f.label :timezone, 'Your timezone'
    = f.time_zone_select :timezone, /Australia/
    = f.submit 'Update'

  .timetable
    %h3 Schedule
    %table
      %thead
        %tr
          %th
          - @schedule.each_day do |day|
            %th.heading= day.name
      %tbody
        - @schedule.each_time_of_day do |relative_offset, time|
          %tr{class: cycle('odd', 'even')}
            %th= time.strftime("%I:%M %p")
            - @schedule.each_day do |day|
              %td.users
                - @schedule.users_at(day.offset(relative_offset)).each do |name|
                  = name
                  %br

  .people
    %h3 People
    %table
      %thead
        %th Name
        %th Timezone
        %th Options
      %tbody
        - @schedule.people.each do |person|
          %tr{class: cycle('odd', 'even')}
            %td.name= person.name
            %td.timezone= person.timezone
            %td.options
              = link_to 'Edit', edit_schedule_person_path(@schedule, person)
              = link_to 'Remove', schedule_person_path(@schedule, person), confirm: 'Are you sure?', method: 'delete'
    .new
      = link_to 'Add', new_schedule_person_path(@schedule)
