!!!
%html
  %head
    %title Internet Friends Yay
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tag
  %body
    %header
      .title
        %h1= link_to 'Internet Friends Yay', root_url
        .byline
          An application for herding virtual cats.

      .flash
        - if flash.notice
          .notice
            %p= notice
        - if flash.alert
          .alert
            %p= alert

    %article
      = yield

    %footer
      %p
        a web app by #{link_to 'gregory mcintyre', 'http://gregorymcintyre.com'} with <tt>&lt;3</tt>
      %p
        please #{link_to 'report', 'https://github.com/puyo/internetfriendsyay/issues/new'} any problems

    = javascript_include_tag 'application'
    = yield :javascript
