!!!
%html
  %head
    %title Internet Friends Yay
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    = csrf_meta_tag
    = csp_meta_tag

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    .container-md
      %header
        .title
          %h1= link_to 'Internet Friends Yay', root_url
          .byline
            An application for herding virtual cats

      %article
        = yield

      %footer
        %p
          a web app by #{link_to 'gregory mcintyre', 'http://gregorymcintyre.com'} with <tt>&lt;3</tt>
        %p
          please #{link_to 'report', 'https://github.com/puyo/internetfriendsyay/issues/new'} any problems
