!!! 5
%html
  %head
    %title Internet Friends Yay
    = include_stylesheets :screen, :media => 'all'
    = include_javascripts :screen
    = csrf_meta_tag
  %body
    .title
      %h1 Internet Friends Yay
      .byline
        An application for herding virtual cats.
    
    .flash
      - if flash.notice
        .notice
          %p= notice
      - if flash.alert
        .alert
          %p= alert

    = yield
