<!DOCTYPE html>
<html>
  <head>
    <% title = (yield :title).strip %>
    <% if title.present? %>
      <title><%= title %> - Internet Friends Yay</title>
    <% else %>
      <title>Internet Friends Yay</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container-md">
        <div class="title"><h1><%= link_to 'Internet Friends Yay', root_url %></h1></div>
        <div class="byline">An application for herding virtual cats</div>
      </div>
    </header>
    <div class="main">
      <div class="container-md">
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="container-md">
        <p>
          a web app by <%= link_to 'gregory mcintyre', 'http://gregorymcintyre.com' %> with <tt>&lt;3</tt>
        </p>
        <p>
          please <%= link_to 'report', 'https://github.com/puyo/internetfriendsyay/issues/new' %> any problems
        </p>
      </div>
    </footer>
  </body>
</html>
